<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
        <h1>
            Rango says...
        </h1>
        <div>
            here is the about page! <br/>
            <strong>{{ boldmessage }}</strong><br/>
            <p> visits: {{ visits }}</p>
        </div>
        <div>
            <img src="{% static "images/rango2.jpg" %}"
                alt="Another picture of Rango" />
        </div>
        <img src="{{ MEDIA_URL }}cat.jpg"
            alt="A picture of a cat" />.
{% endblock %}